layout {
    tab name="remote" {
        pane {
            command "bash"
            args "-c" "~/.config/zellij/scripts/sics-connect"
        }
    }
    tab name="editor" {
        pane {
            command "bash"
            args "-c" "~/.config/zellij/scripts/sics-editor"
        }
    }
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }
}
